<div id="waline"></div>
    <h4>「游客留言」：</h4>
    <!--Leancloud 操作库:-->
    <script src="//code.bdstatic.com/npm/leancloud-storage@4.12.0/dist/av-min.js"></script>
    <!--Valine 的核心代码库:-->
    <script src='//unpkg.com/@waline/client@v2/dist/waline.js'></script>
    <link href='//unpkg.com/@waline/client@v2/dist/waline.css' rel='stylesheet' />
    <script>
         Waline.init({
            el: '#waline',
            placeholder: '欢迎留下评论',
	    serverURLs: 'https://waline-athletik.vercel.app/',
	 })
    </script>
